.notification {
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0 20px;
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 16px;
    margin: 20px 20px 0px;
    box-shadow: 1px 1px 15px #8c8c8c;
}

.notification--success {
    border: 2px solid green;
    color: green;
}

.notification--error {
    border: 2px solid red;
    color: red;
}
