* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.notification {
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0 20px;
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 16px;
}

.notification--success {
    border: 2px solid green;
    color: green;
}

.notification--error {
    border: 2px solid red;
    color: red;
}

.blog {
    border: 1px solid #e6e6e6;
    padding: 10px;
    margin: 10px 10px 0 10px;
    box-shadow: 2px 2px 10px #888888;
}

.blog__title {
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.blog__addedBy {
    font-style: italic;
    color: #595959;
}